{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To-Do List

{% endblock %}


{% block content %}

    <h1 id="title">To-Do List</h1>

<article id="taskList">

  {% for thing in things %}

                        <div id="priority">
                       <strong> {{thing.priority}} </strong>
                        </div>

                        {{ thing.name }}
                        
                        <br>
                
      

            {% else %}

                <p>None!</p>


            {% endfor %}


</article>

 <article>

        <h3>New Task</h3>

        <form action="/add" method="POST" id="newTask">

            <input
                type="text"
                name="name"
                placeholder="Task"
                required>
                
            
                <select name="priority" aria-label="Priority?" required>
                            <option selected disabled value="">
                                priority
                            </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                </select>

            <button>Add Task</button>

        </form>

    </article>

{% endblock %}

