{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To-Do List

{% endblock %}


{% block content %}

    <h1 id="title">To-Do List</h1>

<article id="taskList">

  {% for thing in things %}

                        <span class="priority-{{thing.priority}}">

                        <div id="priority">
                       <strong> {{thing.priority}} </strong>
                        </div></span>

                        {{ thing.name }}
                        
                        <div id="done">

                        
                        
                        {% if thing.complete == 0 %}
                            <a href="/complete/{{ thing.id }}">☐</a>
                        
                        {% else %}
                            <a href="/incomplete/{{ thing.id }}">🗹</a>
                        {% endif %}
                        </div>

                        <a href="/delete/{{thing.id}}" id="delete" onclick="return confirm('Really delete?');">⌫</a>

                        <br>
                
      

            {% else %}

                <p>None!</p>


            {% endfor %}


</article>

 <article>

        <h3>New Task</h3>

        <form action="/add" method="POST" id="newTask">
            <fieldset role="group">
            <input
                id="input"
                type="text"
                name="name"
                placeholder="Task"
                required>
                
            
                <select name="priority" aria-label="Priority?" required id="dropDown">
                            <option selected disabled value="">
                                priority
                            </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                </select>

            <button id="addTask">Add Task</button>
            </fieldset>

        </form>

    </article>

{% endblock %}

