/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-ins-color); }
#messages .message.error   { color: var(--pico-del-color); }




/* my shitty little css pile */
h1#title {
    text-align: center;
}
 
 div#priority {
    display: inline;
    
 }

 form#newTask {
    line-height: 200%;
 }

 #input {
   min-width: 20rem;
 }

 #addTask {
    text-align: center;
    max-width: min-content;
    white-space: nowrap;
 }

 /* article {
    
    justify-content: center;
    align-items: center;
    
 } */

 main{ 
    width: 30%;
    justify-items: center;
 }

 #taskList{
    box-shadow: none;
    background-color: #EFECAB;
    font-family: cursive;
    text-decoration: underline dotted;
    line-height: 300%;

 }

#done {
    display: inline;
}
